---
---

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #787878 !default;
$header-bg-color-secondary: #785656 !default;

// Text
$section-headings-color: #000 !default;
$body-text-color: #636363 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #988181 !default;

// Code
$code-bg-color: #faf3f3 !default;
$code-text-color: #825656 !default;

// Borders
$border-color: #f0dcdc !default;
$table-border-color: #ece9e9 !default;
$hr-border-color: #f1efef !default;

@import "{{ site.theme }}";

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
}

table {
  th {
    background-color: $table-border-color;
  }
}
